In [1]:
import pandas as pd
import sqlite3
import glob

In [2]:
#讀取CSV
'''
glob套件是用來查找符合特定規則的文件名，跟我們用搜尋跳出來的結果差不多，這邊我們查詢副檔名為csv的檔案並存為一個列表的形式。
'''
All_csv_file = glob.glob('*.csv')

In [3]:
df = pd.read_csv(All_csv_file[0]).iloc[:,1:]

In [4]:
#創建資料庫
dbname = 'TWStock.db'

In [5]:
#連接到我們的資料庫，如果沒有的話會重新建一個
db = sqlite3.connect(dbname)

In [6]:
%%time
for file_name in All_csv_file:
    pd.read_csv(file_name).iloc[:,1:].to_sql(file_name.replace('.csv',''),db,if_exists='replace')

Wall time: 8min 22s

In [7]:
#讀取資料庫
dates_list = [file_name.replace('.csv','') for file_name in All_csv_file]

In [8]:
pd.read_sql(con=db,sql='SELECT * FROM' + ' "'+ dates_list[0] +'"').iloc[:,1:].head()

,證券代號,證券名稱,成交股數,成交筆數,成交金額,開盤價,最高價,最低價,收盤價,漲跌(+/-),漲跌價差,最後揭示買價,最後揭示買量,最後揭示賣價,最後揭示賣量,本益比
0,0050,元大台灣50,"6,017,694","2,880","470,593,299",78.20,78.65,77.65,78.55,+,0.10,78.55,246,78.60,40,0.00
1,0051,元大中型100,"6,098",6,"186,447",30.45,30.77,30.45,30.76,-,0.04,30.62,1,30.76,29,0.00
2,0052,富邦科技,"106,000",8,"5,397,900",50.85,50.95,50.30,50.95,+,0.10,51.00,1,51.35,1,0.00
3,0053,元大電子,"20,000",13,"652,440",32.86,32.86,32.45,32.80,-,0.11,32.85,30,33.00,1,0.00
4,0054,元大台商50,"8,000",7,"166,660",20.90,20.95,20.75,20.95,,0.00,20.93,30,21.03,30,0.00

In [9]:
#整理出以日期為一張張表的資料庫
pd.read_sql(con=db, sql = 'SELECT * FROM "20220225"').iloc[:,1:]

,證券代號,證券名稱,成交股數,成交筆數,成交金額,開盤價,最高價,最低價,收盤價,漲跌(+/-),漲跌價差,最後揭示買價,最後揭示買量,最後揭示賣價,最後揭示賣量,本益比
0,0050,元大台灣50,"24,731,645","43,146","3,424,810,229",139.05,139.20,137.85,138.50,-,0.30,138.50,201,138.55,20,0.00
1,0051,元大中型100,"82,280",127,"4,942,690",60.50,60.50,59.80,59.80,-,0.10,59.80,2,60.10,3,0.00
2,0052,富邦科技,"272,802",347,"35,268,955",129.20,129.90,128.80,129.30,+,0.20,129.25,1,129.35,43,0.00
3,0053,元大電子,"7,114",13,"476,340",67.20,67.20,66.65,66.65,-,0.35,66.95,1,67.05,10,0.00
4,0054,元大台商50,"4,566",15,"137,295",30.34,30.34,30.00,30.03,X,0.00,30.10,8,30.29,22,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1153,9944,新麗,"123,001",60,"2,663,671",21.65,21.85,21.50,21.75,+,0.25,21.60,11,21.75,6,65.91
1154,9945,潤泰新,"13,233,532","9,597","948,340,483",72.90,73.50,70.70,71.60,+,0.10,71.50,80,71.60,20,10.10
1155,9946,三發地產,"133,961",83,"1,869,645",13.90,14.20,13.85,14.05,+,0.05,14.00,3,14.05,3,33.45
1156,9955,佳龍,"6,713,814","4,270","185,048,506",28.85,28.85,26.20,26.50,-,2.55,26.45,17,26.50,1,0.00
1157,9958,世紀鋼,"1,053,996",669,"115,025,352",110.00,110.50,108.50,108.50,,0.00,108.50,27,109.00,12,17.99

In [11]:
test_df = pd.read_sql(con=db,sql='SELECT * FROM "20220224"')
test_df['Date'] = "20220224"                     
test_df_2 = pd.read_sql(con=db,sql='SELECT * FROM "20220225"')
test_df_2['Date'] = "20220225"

In [12]:
test_dict = dict(tuple(test_df.append(test_df_2).groupby('證券代號')))

In [13]:
test_df_3 = test_dict['2330']
test_df_3['Date'] = pd.to_datetime(test_df_3['Date'])

In [14]:
test_df_3.iloc[:,1:].head()

,證券代號,證券名稱,成交股數,成交筆數,成交金額,開盤價,最高價,最低價,收盤價,漲跌(+/-),漲跌價差,最後揭示買價,最後揭示買量,最後揭示賣價,最後揭示賣量,本益比,Date
442,2330,台積電,"80,672,979","188,248","49,358,065,299",618.00,619.00,604.00,604.00,-,21.0,604.00,167,605.00,234,27.33,2022-02-24
442,2330,台積電,"94,155,943","129,776","56,880,320,916",600.00,609.00,600.00,604.00,,0.0,603.00,"1,942",604.00,145,26.25,2022-02-25

In [15]:
test_df_3 = test_df_3.sort_values(by=['Date']) #排序

In [18]:
%%time 
#整理出以個股為一張張表的資料庫
total_df = pd.DataFrame() #空表
for date in dates_list: #交易時間做迴圈
    df = pd.read_sql(con=db,sql='SELECT * FROM' + ' "'+ date +'"') 
    df['Date'] = date
    total_df = total_df.append(df)

Wall time: 3min

In [19]:
%%time
total_df.shape

Wall time: 0 ns

(749541, 18)

In [20]:
dbname_2 = 'TWStock_2'
db2 = sqlite3.connect(dbname_2)

In [25]:
%%time 
total_dict = dict(tuple(total_df.groupby('證券代號')))
for key in total_dict.keys():
    df = total_dict[key].iloc[:,2:]
    df['Date'] = pd.to_datetime(df['Date'])
    df = df.sort_values(by=['Date'])
    df.to_sql(key,db2,if_exists='replace')

Wall time: 12min 9s

In [23]:
%%time
#測試股票代號資料庫
print(pd.read_sql(con=db2,sql='SELECT * FROM "2330"').iloc[:,1:].tail())

     index 證券名稱        成交股數     成交筆數            成交金額     開盤價     最高價     最低價  \
663    442  台積電  25,769,408   41,961  16,320,629,980  633.00  636.00  632.00
664    442  台積電  38,526,210   68,303  24,153,923,316  628.00  630.00  625.00
665    442  台積電  34,561,338   50,926  21,606,428,438  624.00  629.00  623.00
666    442  台積電  80,672,979  188,248  49,358,065,299  618.00  619.00  604.00
667    442  台積電  94,155,943  129,776  56,880,320,916  600.00  609.00  600.00

        收盤價 漲跌(+/-)  漲跌價差  最後揭示買價 最後揭示買量  最後揭示賣價 最後揭示賣量    本益比  \
663  632.00       -   5.0  632.00  1,530  633.00    208  28.60
664  627.00       -   5.0  626.00  1,039  627.00    116  28.37
665  625.00       -   2.0  625.00    818  626.00      6  28.28
666  604.00       -  21.0  604.00    167  605.00    234  27.33
667  604.00           0.0  603.00  1,942  604.00    145  26.25

                    Date
663  2022-02-21 00:00:00
664  2022-02-22 00:00:00
665  2022-02-23 00:00:00
666  2022-02-24 00:00:00
667  2022-02-25 00:00:00
Wall time: 34 ms

In [32]:
print(pd.read_sql(con=db2,sql='SELECT * FROM "6116"').tail())

     index 證券名稱        成交股數   成交筆數         成交金額    開盤價    最高價    最低價    收盤價  \
663    943   彩晶  20,458,849  6,204  332,429,210  16.15  16.50  15.95  16.45
664    943   彩晶  15,068,515  4,877  242,171,572  16.25  16.30  15.95  16.05
665    943   彩晶   9,630,274  3,258  155,148,118  16.10  16.30  16.00  16.05
666    943   彩晶  20,029,514  8,127  316,407,626  16.00  16.05  15.50  15.65
667    943   彩晶  12,503,979  5,322  197,502,056  15.75  15.95  15.60  15.85

    漲跌(+/-)  漲跌價差 最後揭示買價 最後揭示買量 最後揭示賣價 最後揭示賣量   本益比                 Date
663       +   0.2  16.40    735  16.45     33  5.02  2022-02-21 00:00:00
664       -   0.4  16.05    393  16.10    558  4.89  2022-02-22 00:00:00
665           0.0  16.05    740  16.10     44  4.89  2022-02-23 00:00:00
666       -   0.4  15.65     84  15.70    258  4.77  2022-02-24 00:00:00
667       +   0.2  15.85    142  15.90    333  4.83  2022-02-25 00:00:00